* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Calculadora {
    background-color: #f2f2f2;
    max-width: 400px;
    padding: 20px;
    margin: 0 auto;
    margin: 50px;
    border: solid 1px #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#resutado {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
    border-radius: 5px;
    color: rgb(61, 56, 49);    

}

.button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    grid-gap:10px;        
} 

button {
    padding: 15px;
    font-size: 25px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #cfcbcb; 
    border-radius: 5px;   
    color: rgb(61, 56, 49);    
}

button.igual {
    background-color: rgb(81, 85, 85);
    grid-row: span 2;
    color: antiquewhite;

}

button.clear {
    background-color: rgb(81, 85, 85);
    color: antiquewhite;

}

button:hover {
    background-color: #b1abab    
}

.operador {
    background-color: rgb(127, 129, 129);
    color: rgb(47, 49, 49);

}
